<header class="header">
  <div class="header__container">
    <app-menu class="header__menu"></app-menu>
    <div class="header__logo-wrapper">
      <a href="/" class="header__logo-link">
        <img class="header__logo" src="../../assets/img/logo_cut.png" alt="Salon Groomerski Karolina Jakubek"/>
      </a>
    </div>
    <div class="header__social">
      <a href="#" class="header__social-link" aria-label="Facebook">
        <img src="../../assets/img/facebok.png" class="header__social-icon" alt="facebook"/>
      </a>
      <a href="#" class="header__social-link" aria-label="Instagram">
        <img src="../../assets/img/instagram.png" class="header__social-icon" alt="instagram"/>
      </a>
      <a href="tel:+48000000000" class="header__social-link" aria-label="Telefon">
        <img src="../../assets/img/phone.png" class="header__social-icon" alt="phone"/>
      </a>
    </div>
  </div>
</header>
