<header class="container container-header">
  <app-menu class="head__col"></app-menu>
  <div class="head__logo-container">
    <div class="head__logo-container--left"></div>
    <a href="/" class="logo-link">
      <img class="head__logo" src="../../assets/img/logo_cut.png"/>
    </a>
    <div class="head__logo-container--right"></div>
  </div>
  <div class="head__col">
    <div class="head__button">
      <a class="button__hamburger"
         href="">
        <img src="../../assets/img/facebok.png"
             class="button__img"
             alt="facebook"/>
      </a>
    </div>
    <div class="head__button">
      <a class="button__hamburger"
         href="">
        <img src="../../assets/img/instagram.png"
             class="button__img"
             alt="instagram"/>
      </a>
    </div>
    <div class="head__button">
      <a class="button__hamburger"
         href="">
        <img src="../../assets/img/toktok.png"
             class="button__img"
             alt="tiktok"/>
      </a>
    </div>
    <div class="head__button">
      <a class="button__hamburger"
         href="">
        <img src="../../assets/img/phone.png"
             class="button__img"
             alt="phone"/>
      </a>
    </div>
  </div>
</header>
