.container-header {
    height: 105px;
    display: flex;
    background-color: white;
    padding: 0 20px;
}

.head {
    &__logo {
        &-container {
            display: flex;
            justify-content: center;
            width: 20%;
            height: 180px;
            z-index: 1;
        }
    }

    &__menu {
        font-size: 18px;
    }

    &__col {
        width: 40%;
        display: flex;
        align-items: center;
        column-gap: 5px;
        justify-content: center;
        z-index: 2;
        @media(max-width: 920px) {
            justify-content: start;
            &:last-child{
                display: none;
                justify-content: center;
            }
        }
    }

    &__logo {
        width: 380px;
        position: relative;
        top: -35px;
    }

    &__button:last-child {
        padding-right: 30px;
        @media(max-width: 920px) {
            padding: 0;
        }
    }
}

.button__img {
    height: 35px;
}
