.container-header {
    height: 105px;
    display: flex;
    background-color: white;
    padding: 0 20px;
}

.head {
    &__logo {
        &-container {
            display: flex;
            justify-content: center;
            flex-basis: 20%;
            height: 180px;
        }
    }

    &__menu {
        font-size: 18px;
    }

    &__col {
        flex-basis: 40%;
        display: flex;
        align-items: center;
        column-gap: 5px;
        justify-content: end;
        @media(max-width: 920px) {
            justify-content: start;
        }
    }

    &__logo {
        width: 380px;
        position: relative;
        top: -35px;
    }
}

.button__img {
    height: 35px;
}
