<div id="services" class="container container__services">
  <div class="section">
    <img class="image" src="../../assets/img/example_img/home.jpg" alt="home">
  </div>
  <div class="section">
    <ul class="list">
      <li class="list__li">
        <img class="icon" src="../../assets/icons/dog.png" alt="dog" />
        <div class="descriptionList">
          <h2 class="title title__list">Zadbaj o swojego</h2>
          <p class="description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </li>
      <li class="list__li">
        <img class="icon" src="../../assets/icons/dog.png" alt="dog" />
        <div class="descriptionList">
          <h2 class="title title__list">Zadbaj o swojego</h2>
          <p class="description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </li>
      <li class="list__li">
        <img class="icon" src="../../assets/icons/dog.png" alt="dog" />
        <div class="descriptionList">
          <h2 class="title title__list">Zadbaj o swojego</h2>
          <p class="description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </li>
      <li class="list__li">
        <img class="icon" src="../../assets/icons/dog.png" alt="dog" />
        <div class="descriptionList">
          <h2 class="title title__list">Zadbaj o swojego</h2>
          <p class="description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </li>
      <li class="list__li">
        <img class="icon" src="../../assets/icons/dog.png" alt="dog" />
        <div class="descriptionList">
          <h2 class="title title__list">Zadbaj o swojego</h2>
          <p class="description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
