<section id="services" class="services">
  <div class="services__container">
    <div class="services__header">
      <div class="services__badge">🐾 Nasze Usługi</div>
      <h2 class="services__title">Kompleksowa Pielęgnacja</h2>
      <p class="services__subtitle">Wszystko czego potrzebuje Twój pupil w jednym miejscu</p>
    </div>
    
    <div class="services__grid">
      <div class="service-card" *ngFor="let service of services; let i = index">
        <div class="service-card__icon-wrapper">
          <div class="service-card__icon">
            <span class="service-card__icon-emoji">{{ service.emoji }}</span>
          </div>
          <div class="service-card__icon-glow"></div>
        </div>
        <h3 class="service-card__title">{{ service.title }}</h3>
        <p class="service-card__description">{{ service.description }}</p>
        <div class="service-card__features">
          <span class="service-card__feature" *ngFor="let feature of service.features">{{ feature }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
