<div class="menu">
    <div class="button__hamburger" (click)="toggleOpen()">
        <app-burger [open]="open"></app-burger>
    </div>
    <ul class="menu__list"
        [ngClass]="open ? 'menu__list--mobile' : ''">
        <li *ngFor="let page of menuList">
            <a [href]="page.link" (click)="scrollToSection(page.link, $event)">
                {{page.name}}
            </a>
        </li>
        <div class="hamburger__button border display__mobile">
            <a class="button"
               href="">
                <img src="../../assets/img/phone.png"
                     class="button__img"
                     alt="phone"/> <span class="big__size">+48 000 000 000</span>
            </a>
        </div>
        <div class="hamburger__link display__mobile">
            <div class="hamburger__button display__mobile">
                <a class="button"
                   href="">
                    <img src="../../assets/img/facebok.png"
                         class="button__img"
                         alt="facebook"/>
                </a>
            </div>
            <div class="hamburger__button display__mobile">
                <a class="button"
                   href="">
                    <img src="../../assets/img/instagram.png"
                         class="button__img"
                         alt="instagram"/>
                </a>
            </div>
            <div class="hamburger__button display__mobile">
                <a class="button"
                   href="">
                    <img src="../../assets/img/toktok.png"
                         class="button__img"
                         alt="tiktok"/>
                </a>
            </div>
        </div>
    </ul>
</div>
