:host {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
}

.__line {
    position: absolute;
    right: 0px;
    width: 28px;
    height: 4px;
    background: #FFB6C1;
    opacity: 1;
    transform: rotate(0deg);
    transition: all 200ms;
}

.__line--first {
    top: 0;
}

.__line--second {
    top: 15px;
}

.__line--third {
    top: 30px;
}


.rotateFirstLine {
    transform: rotate(45deg);
    top: 15px;
}

.rotateSecondLine {
    opacity: 0;
}

.rotateLastLine {
    transform: rotate(-45deg);
    top: 15px;
    left: 2px;
}
