:host {
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    margin: 0;
}

.__line {
    position: absolute;
    right: 0px;
    width: 24px;
    height: 3px;
    background: #FFB6C1;
    opacity: 1;
    transform: rotate(0deg);
    transition: all 200ms;
}

.__line--first {
    top: 2px;
}

.__line--second {
    top: 10px;
}

.__line--third {
    top: 18px;
}


.rotateFirstLine {
    transform: rotate(45deg);
    top: 10px;
    width: 24px;
    left: 0;
}

.rotateSecondLine {
    opacity: 0;
}

.rotateLastLine {
    transform: rotate(-45deg);
    top: 10px;
    left: 0;
    width: 24px;
}
