<section id="home" class="hero">
  <div class="hero__container">
    <div class="hero__content">
      <h1 class="hero__title">
        Zadbaj o swojego<br>
        <span class="hero__title-accent">najlepszego przyjaciela</span>
      </h1>
      <p class="hero__description">
        Profesjonalna pielęgnacja psów i kotów w przyjaznej atmosferze. 
        Doświadczony zespół, nowoczesny sprzęt i indywidualne podejście do każdego pupila.
      </p>
      <div class="hero__cta">
        <a href="#contact" class="hero__button hero__button--primary">Umów wizytę</a>
        <a href="#services" class="hero__button hero__button--secondary">Nasze usługi</a>
      </div>
    </div>
    <div class="hero__image-wrapper">
      <div class="hero__image-decorative"></div>
      <img class="hero__image" src="../../assets/img/example_img/home.jpg" alt="Pielęgnacja psa">
    </div>
  </div>
</section>
