.container__home {
  background-color: #FFB6C1;
  display: flex;
  justify-content: space-around;
  margin-bottom: 75px;
  padding-bottom: 85px;
  padding-top: 125px;
}

.image {
  border-radius: 120px 0 0 0;
  height: 450px;
  position: absolute;
  width: 35%;
}
